.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*estilo foto de perfil*/
@media(min-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 12%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        align-items: center;
    }
}
@media(max-width: 575px){
    #fotoDePerfil{
        position: center;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        align-items: center;
    }
}
/*etiqueta nombre*/
#Nombre{
    font-weight: bold;
    font-size: larger;
    margin-top: 30%;
}