<div class="row">
    <h1>Hard Skills</h1>    
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" *ngIf="isLogged">
            Nueva Skill
        </button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
        [title]="(skill.nombre)"
        [percent]="(skill.porcentaje)"
        [titleColor]="'#D35400'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [radius]="100"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#D35400'"
        [innerStrokeColor]="'#000000'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil"></i>Editar
                </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash"></i>Borrar
                </button>
            </td>
        </div>
        
    </div>

    <h1>Soft Skills</h1>
    
    <div class="text-center col-sm-12 col-md-12 col-lg-12" id="Soft">
        <p>Dedicado</p>
        <p>organizado</p>
        <p>Creativo</p>
        <p>De Actitud Positiva</p>
        <p>Trabajador en Equipo</p>
        <p>Responsable</p>
    </div>
</div>