<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Técnico Eléctrico </h1> - <h3>Escuela Técnica “Ingeniero Luis A. Huergo” 2013-2018</h3>
            </li>
            <p>
                Estudio secundario con especializacion en Electrica y Electronica
            </p>
        </ul>
        <ul>
            <li>
                <h1>Inglés</h1> - <h3>Curso universitario de idiomas Nivel III del ciclo de perfeccionamiento 2019</h3>
            </li>
            <p>
                Curso de Ingles en el centro universitario de idiomas
            </p>
        </ul>
        <ul>
            <li>
                <h1>Ingeniero en Sistemas de Información</h1> - <h3>Universidad Tecnológica Nacional 2020-presente</h3>
            </li>
            <p>
                carrera en curso de Sistemas de Información
            </p>
        </ul>
        <ul>
            <li>
                <h1>The Python Developer Essentials 2022 Immersive Bootcamp</h1> - <h3>Udemy.com 2021-2021</h3>
                <p>
                    curso de forma independiente de python
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Programa SeProgramar</h1> - <h3>Primer fase del programa Argentina Programa 2022-2022</h3>
            </li>
            <p>
                primer fase del programa Argentina Programa en el que se repasa los conceptos basicos de la programacion
            </p>
        </ul>
        <ul>
            <li>
                <h1>Programa YoProgramo</h1> - <h3>Segunda fase del programa Argentina Programa 2022-2023</h3>
            </li>
            <p>
                introduccion a la programacion fullstack
            </p>
        </ul>
        <ul>
            <li>
                <h1>ingles curso FCE</h1> - <h3>Liceo Cultural Britanico 2023-presente</h3>
            </li>
            <p>
                Curso de preparacion para el First Certificate Exam
            </p>
        </ul>
    </div>
</div>