<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://github.com/EzequielTo">
                    <img src="../../../assets/github.png" id="github">
                </a>
                <a href="https://www.linkedin.com/in/ezequiel-tokashiki-381bb2210/">
                    <img src="../../../assets/linkedin.png" id="linkedin">
                </a>
                <button type="button" class="btn btn-outline-light">Ingresar</button>
        </div>
    </div>
</div>