<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto para cv.jpeg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">
            Ezequiel Tokashiki
        </p>
        <p>
            Full Stack Developer Jr
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca De Mi
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque porro sequi iste eaque dolore veritatis natus tenetur dolor dolorum, provident saepe quasi facilis mollitia pariatur qui. Quibusdam quidem doloribus rerum?
            </p>
        </span>
    </div>
</div>