<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto para cv.jpeg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">
            Ezequiel Tokashiki
        </p>
        <p>
            Full Stack Developer Jr
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca De Mi
            </h1>
            <p>
                Soy un aspirante a programador buscando mi primer trabajo en informática. Soy dedicado, organizado y creativo. Me gusta trabajar en equipo y soy responsable. Estoy comprometido a aumentar mi experiencia y conocimiento.
            </p>
        </span>
    </div>
</div>