<div class="row">
    <h1>Hard Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Electrica'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Electronica'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Google Calc'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'1.5em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Photoshop'"
    [percent]="33"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Ingles'"
    [percent]="60"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [subtitle]="'FCE'"
    [subtitleFontSize]="'1.5em'"
    [subtitleColor]="'#000000'"
    [showSubtitle]="true"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'AutoCAD'"
    [percent]="33"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'C++'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'python'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'javascript'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Ruby'"
    [percent]="66"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'mplab'"
    [percent]="33"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'html'"
    [percent]="33"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'css'"
    [percent]="33"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Typescript'"
    [percent]="33"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [title]="'Github'"
    [percent]="70"
    [titleColor]="'#D35400'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#D35400'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    </div>

    <h1>Soft Skills</h1>
    
    <div class="text-center col-sm-12 col-md-12 col-lg-12" id="Soft">
        <p>Dedicado</p>
        <p>organizado</p>
        <p>Creativo</p>
        <p>De Actitud Positiva</p>
        <p>Trabajador en Equipo</p>
        <p>Responsable</p>
    </div>
</div>