<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates voluptate dolor voluptatem illum! Vero, quaerat earum cum sequi ullam recusandae iste, incidunt quisquam fugiat pariatur temporibus sapiente deleniti, doloremque atque.
            </p>
        </ul>
    </div>
</div>